p{
    color: #A5A1A0;
}

i{
    font-size: 1.3rem;
}


.conteiner{
    height: 85vh;

    font-size: 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card-img-top{
    width: 300px;
    height: 450px;
}

.price{
    font-weight: bold;
    font-size: 2rem;
    color: black;
}


.botones-product-detail{
    width: fit-content;
    height: auto;
}
.count{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}

.caract{
    display: flex;
    flex-direction: column;
    align-items: center;
}